@use "./sass/base";
@use "./sass/layout" as *;
@use "./sass/abstracts" as *;

@font-face {
  font-family: fraunces;
  src: url(./fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

.container {
  background: $dark-purple;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: white;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .heading {
    font-family: fraunces;
    text-align: center;
    margin-bottom: 1rem;
  }
  input {
    outline: none;
    padding: 1rem 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 1px solid $bright-green;
    &::placeholder {
      font-weight: 600;
      color: $purplish-grey;
    }
  }
  button[type="submit"] {
    background: $bright-green;
    padding: 1rem 1rem;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid $bright-green;
    transition: all 0.3s;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: $dark-purple;
    }
  }
  .nav-link {
    cursor: pointer;
    padding-top: 0.5rem;
    font-size: 0.75rem;
    text-align: center;
  }
}
