$brave-yellow: #F59E00;
$dark-blue: #020D37;
$deep-blue: #0432DF;
$deep-blue-saturation: #CDD6F9;
$description-dark: #4C526A;
$description-light: #ACAFB8;
$bright-blue: #1B4BFF;
$light-gray: #F1F1F1;
$pale-gray: #EEEEEE;
$off-white: #FAFAFA;