@use "./abstracts" as abs;
@import "normalize";

* {
  font-family: abs.$poppins;
}

body {
  background: linear-gradient(
      0deg,
      rgba(2, 13, 55, 0.7) 0%,
      rgba(2, 13, 55, 0.7) 100%
    ),
    url("./public/images/pawel-czerwinski-eyb-m-9-n-4-yrp-e-unsplash-2.png"),
    lightgray 0px 0px / 100% 100% no-repeat;

  .login-form {
    background-size: cover;
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      text-align: center;
      background-color: white;
      border-radius: 10px;
      padding: 40px 40px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .logo {
        img {
          filter: brightness(0) saturate(100%) invert(0%) sepia(4%)
            hue-rotate(227deg) contrast(100%);
          width: 170px;
          height: 27px;
        }
      }

      h1 {
        color: #333;
        font-family: abs.$poppins;
        @include abs.fontConfig(24px, normal, 700, normal);
        margin: 30px 0px 0px 0px;
      }

      p {
        color: #333;
        font-family: abs.$poppins;
        @include abs.fontConfig(14px, normal, 400, normal);
        margin: 10px 0px 30px 0px;
        padding-top: 10px;

        a:visited {
          color: inherit;
        }
      }

      .username {
        position: relative;

        .username-icon {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 10px;
          left: 36px;
        }

        input {
          width: 200px;
          height: 36px;
          padding: 5px;
          font-size: 11pt;
          background: #eee;
          border: 0px solid;
          border-left: 0px;
          border-radius: 8px;
          padding-left: 45px;
          margin-bottom: 10px;
        }
      }

      .password {
        position: relative;

        .password-icon {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 10px;
          left: 36px;
        }

        input {
          width: 160px;
          height: 36px;
          padding: 5px;
          font-size: 11pt;
          background: #eee;
          border: 0px solid;
          border-left: 0px;
          border-radius: 8px;
          padding-left: 45px;
          padding-right: 45px;
          margin-bottom: 30px;
        }

        button {
          position: absolute;
          top: 10px;
          right: 32px;
          border: none;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      .login-btn {
        color: white;
        border: 1px solid abs.$deep-blue;
        background: abs.$deep-blue;
        font-family: abs.$poppins;
        @include abs.fontConfig(14px, normal, 400, normal);
        padding: 10px 40px;
        border-radius: 15px;
        text-decoration: none;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    background: white;

    .login-form {
      width: 100%;
      border-radius: 0px !important;
      margin: 0;
    }
  }
}
