@use "./abstracts" as abs;
@import "normalize";

* {
  font-family: abs.$poppins !important;
}

header {
  height: 650px;
  flex-shrink: 0;
  background: linear-gradient(
      0deg,
      rgba(2, 13, 55, 0.7) 0%,
      rgba(2, 13, 55, 0.7) 100%
    ),
    url("./public/images/pawel-czerwinski-eyb-m-9-n-4-yrp-e-unsplash-2.png"),
    lightgray 0px 0px / 100% 100% no-repeat;

  .nav-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .logo {
        display: flex;
        width: 123px;
        padding: 10px 10px 10px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        cursor: pointer;
      }

      .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 43px;

        ul {
          display: flex;
          padding: 10px;
          align-items: flex-start;
          gap: 36px;
          list-style-type: none;

          li {
            a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              opacity: 0.6;
            }

            a:hover {
              color: white;
              opacity: 1;
            }
          }
        }

        .menu-btn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: none;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .login-btn {
        border-radius: 8px;
        border: 1px solid abs.$deep-blue;
        background: abs.$deep-blue;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      #myModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

        .modal-content {
          width: 250px;
          background-color: white;
          float: right;
          height: 100%;

          #closeBtn {
            position: relative;
            top: 16px;
            float: right;
            right: 16px;
            background-color: transparent;
            border: none;
            width: 36px;
            height: 36px;
            padding: 0;
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 28px;
            margin-left: 24px;
            padding: 0;
            position: relative;
            height: 100%;
            margin-top: 0px;

            li {
              a {
                text-decoration: none;
                color: black;
                font-family: abs.$poppins;
                font-weight: 500px;
              }

              list-style-type: none;
            }

            li:first-child {
              margin-top: 24px;
            }

            li:last-child {
              a {
                display: block;
                position: absolute;
                border-radius: 8px;
                border: 1px solid abs.$deep-blue;
                background: abs.$deep-blue;
                color: white;
                text-align: center;
                padding: 12px 16px;
                text-decoration: none;
                bottom: 24px;
                left: 50%;
                width: 80%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }
  }

  .header-divider {
    opacity: 0.1;
    background: white;
    margin: 0;
  }

  .header-content {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    padding-top: 95px;
    justify-content: center;
    align-items: center;

    h1 {
      color: abs.$pale-gray;
      margin-bottom: 16px;
      margin-top: 0;
      text-align: center;
    }

    .paragraph1 {
      color: abs.$description-light;
      margin-top: 0;
      margin-bottom: 51px;
      font-family: abs.$inter;
      @include abs.fontConfig(20px, normal, 500, 170%);
      letter-spacing: -1px;
    }

    .search-bar {
      position: relative;

      img {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 20px;
        left: 15px;
      }

      input {
        width: 520px;
        height: 55px;
        padding: 5px;
        font-size: 15px;
        background: abs.$pale-gray;
        border: 0px solid;
        border-left: 0px;
        border-radius: 8px;
        padding-left: 45px;
        margin-bottom: 10px;
      }
    }

    .hint {
      width: 556px;

      p {
        margin-top: 0;
        margin-bottom: 51px;
        color: abs.$pale-gray;
        font-feature-settings: "salt" on, "liga" off;
        font-family: abs.$inter;
        @include abs.fontConfig(12px, normal, 400, 172%);
        letter-spacing: -0.7px;
      }
    }

    .paragraph2 {
      color: abs.$pale-gray;
      text-align: center;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$inter;
      @include abs.fontConfig(12px, normal, 500, 172%);

      a {
        color: abs.$pale-gray;
        font-feature-settings: "salt" on, "liga" off;
        font-family: abs.$inter;
        @include abs.fontConfig(14px, normal, 500, 172%);
        text-decoration-line: underline;
      }
    }
  }
}

.trusted {
  background: var(--off-white);
  display: flex;
  padding: 50px 0;
  margin: 0 12px;
  width: auto;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  .text {
    color: abs.$dark-blue;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-feature-settings: "salt" on, "liga" off;
    font-family: abs.$poppins;
    @include abs.fontConfig(19px, normal, 600, 30px);
    letter-spacing: -0.4px;

    p {
      margin: 0px;
    }
  }

  .trusted-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 -17px;

    .dudeperfect,
    .pewdiepie {
      width: 50px;
      height: 50px;
    }

    .mr-beast {
      width: 77px;
      height: 54px;
    }

    .wb {
      width: 50px;
      height: 62px;
    }

    .netflix {
      width: 94px;
      height: 25px;
    }

    .pixar {
      width: 130px;
      height: 24.919px;
    }

    .picky-picks {
      width: 52.061px;
      height: 52.061px;
    }
  }
}

.best-sounds {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  margin: 50px auto;
  gap: 14px;

  .text {
    color: abs.$dark-blue;
    font-feature-settings: "salt" on, "liga" off;
    font-family: abs.$poppins;
    @include abs.fontConfig(28px, normal, 600, 45px);
    letter-spacing: -0.56px;

    h3 {
      margin: 0px;
    }
  }

  .list {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .filter {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .categories {
        ul {
          display: flex;
          padding: 10px;
          margin: 0px;
          align-items: flex-start;
          gap: 28px;
          list-style-type: none;

          li {
            a {
              display: block;
              color: abs.$description-dark;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              opacity: 0.6;
              padding: 0px;
              @include abs.fontConfig(16px, normal, 500, 138%);
              letter-spacing: -0.8px;
            }

            a:hover {
              color: abs.$dark-blue;
              text-decoration: underline;
              opacity: 1;
            }
          }
        }
      }

      .button {
        display: flex;
        padding: 2px 14px 2px 20px;
        justify-content: center;
        gap: 16px;
        border-radius: 4px;
        background: abs.$light-gray;
        text-decoration: none;
        width: 116px;
        cursor: pointer;

        p {
          color: abs.$description-dark;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$inter;
          @include abs.fontConfig(16px, normal, 500, 138%);
          letter-spacing: -0.8px;
          margin: auto 0px;
        }

        img {
          display: flex;
          width: 36px;
          height: 36px;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .list-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .item-container {
        display: flex;
        padding-top: 12px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid abs.$pale-gray;

        .item {
          width: 100%;
          display: flex;
          padding-left: 0px;
          justify-content: space-between;
          align-items: center;
          gap: 47px;

          .play-btn {
            width: 34px;
            height: 34px;
            margin: 0px 20px;
            cursor: pointer;
          }

          .name-time-container {
            display: flex;
            width: 25%;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;

            p {
              margin: 0px;
            }

            .name {
              display: flex;
              height: 22px;
              flex-direction: column;
              justify-content: center;
              color: abs.$dark-blue;
              font-feature-settings: "salt" on, "liga" off;
              font-family: abs.$inter;
              @include abs.fontConfig(16px, normal, 500, 138%);
              letter-spacing: -0.8px;
            }

            .time {
              color: abs.$description-dark;
              font-feature-settings: "salt" on, "liga" off;
              font-family: abs.$inter;
              @include abs.fontConfig(12px, normal, 400, 172%);
              letter-spacing: -0.6px;
            }
          }

          .description {
            width: 35%;
            margin: 0px;
            color: abs.$description-dark;
            font-feature-settings: "salt" on, "liga" off;
            font-family: abs.$inter;
            @include abs.fontConfig(1rem, normal, 500, 138%);
            letter-spacing: -0.05rem;
          }

          .categories {
            width: 30%;
            color: abs.$description-dark;
            font-feature-settings: "salt" on, "liga" off;
            font-family: abs.$inter;
            @include abs.fontConfig(16px, normal, 500, 138%);
            letter-spacing: -0.8px;
          }

          .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .btn {
              display: flex;
              width: 36px;
              height: 36px;
              padding: 7px 6px;
              margin: 0px;
              justify-content: center;
              align-items: center;
              border-radius: 5px;
            }

            .heart:hover {
              background-color: rgb(243, 243, 243);

              img {
                filter: invert(32%) sepia(81%) saturate(7479%)
                  hue-rotate(356deg) brightness(90%) contrast(130%);
              }
            }
            .download:hover {
              background-color: rgb(243, 243, 243);

              img {
                filter: invert(17%) sepia(83%) saturate(6951%)
                  hue-rotate(106deg) brightness(107%) contrast(105%);
              }
            }
            .more:hover {
              background-color: rgb(243, 243, 243);

              img {
                filter: invert(75%) sepia(35%) saturate(5822%) hue-rotate(0deg)
                  brightness(103%) contrast(105%);
              }
            }
          }
        }
      }
    }

    .see-all {
      color: abs.$deep-blue;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(14px, normal, 600, 24px);
      letter-spacing: -0.14px;
    }

    .see-all:visited {
      color: abs.$deep-blue;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(14px, normal, 600, 24px);
      letter-spacing: -0.14px;
    }
  }
}

.category {
  display: flex;
  margin: 60px 101px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: inherit;
  gap: 23px;

  h2 {
    color: abs.$dark-blue;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    margin: 0px;
    font-family: abs.$poppins;
    @include abs.fontConfig(28px, normal, 600, 45px);
    letter-spacing: -0.56px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;

    .items {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      width: 100%;
      gap: 16px;

      a {
        width: 100%;
        height: 106px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;

        p {
          color: abs.$pale-gray;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$inter;
          @include abs.fontConfig(18px, normal, 600, 172%);
          letter-spacing: -0.9px;
        }
      }

      .musical {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/musical.png), lightgray 50% / cover no-repeat;
      }

      .industrial {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/industrial.png), lightgray 50% / cover no-repeat;
      }

      .movie-sounds {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/movie-sounds.png), lightgray 50% / cover no-repeat;
      }

      .animal {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/animal.png), lightgray 50% / cover no-repeat;
      }

      .people {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/people.png), lightgray 50% / cover no-repeat;
      }

      .vehicles {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/vehicles.png), lightgray 50% / cover no-repeat;
      }

      .sound-designs {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/sound-designs.png),
          lightgray 50% / cover no-repeat;
      }

      .emergency {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/emergency.png), lightgray 50% / cover no-repeat;
      }

      .bell {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/bell.png), lightgray 50% / cover no-repeat;
      }

      .nature {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/nature.png), lightgray 50% / cover no-repeat;
      }

      .cartoon {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/cartoon.png), lightgray 50% / cover no-repeat;
      }

      .horror {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url(./public/images/horror.png), lightgray 50% / cover no-repeat;
      }
      // }
    }

    .see-all {
      color: abs.$deep-blue;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(14px, normal, 600, 24px);
      letter-spacing: -0.14px;
    }

    .see-all:visited {
      color: abs.$deep-blue;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(14px, normal, 600, 24px);
      letter-spacing: -0.14px;
    }
  }
}

.why-us {
  display: flex;
  padding: 60px 100px 100px 100px;
  width: inherit;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;

    h4 {
      color: abs.$brave-yellow;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(14px, normal, 600, 14px);
      text-transform: uppercase;
      margin: 0px;
    }

    h2 {
      width: 337px;
      color: abs.$dark-blue;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(28px, normal, 600, 45px);
      letter-spacing: -0.56px;
      margin: 0px;
    }
  }

  .reasons {
    display: flex;
    align-items: flex-start;
    gap: 110px;

    .vertical {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 53px;

      .reason {
        display: flex;
        width: 246px;
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;

        img {
          width: 56px;
          height: 56px;
        }

        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 4px;
          align-self: stretch;

          h5 {
            align-self: stretch;
            color: abs.$dark-blue;
            font-feature-settings: "salt" on, "liga" off;
            font-family: abs.$inter;
            @include abs.fontConfig(18px, normal, 600, 172%);
            letter-spacing: -0.9px;
            margin: 0px;
          }

          p {
            color: abs.$description-dark;
            font-feature-settings: "salt" on, "liga" off;
            font-family: abs.$inter;
            @include abs.fontConfig(14px, normal, 500, 172%);
            margin: 0px;
          }
        }
      }
    }
  }
}

.pricing {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: abs.$deep-blue;
  padding: 65px 0 69px 0;

  h1 {
    color: white;
    font-feature-settings: "salt" on, "liga" off;
    font-family: abs.$poppins;
    @include abs.fontConfig(36px, normal, 700, 146.5%);
    letter-spacing: -0.72px;
    margin: 0px;
  }

  p {
    color: abs.$pale-gray;
    font-feature-settings: "salt" on, "liga" off;
    font-family: abs.$inter;
    @include abs.fontConfig(18px, normal, 500, 189%);
    letter-spacing: -0.9px;
    margin: 14px 0px 0px 0px;
  }

  .plans {
    margin-top: 43px;
    display: flex;
    gap: 40px;

    .plan {
      width: 198px;
      height: 279px;
      padding: 26px 34px 40px 34px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top,
      .bottom {
        h2,
        p {
          margin: 0px;
        }

        h2 {
          color: white;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$poppins;
          @include abs.fontConfig(28px, normal, 600, 45px);
          letter-spacing: -0.56px;
        }

        .description {
          color: abs.$pale-gray;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$inter;
          @include abs.fontConfig(18px, normal, 300, 172%);
          letter-spacing: -0.9px;
        }

        .price {
          color: white;

          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$inter;
          @include abs.fontConfig(20px, normal, 500, 170%);
          letter-spacing: -1px;
        }
      }
    }

    .basic {
      border: 1px solid abs.$deep-blue-saturation;

      .bottom {
        a {
          border-radius: 8px;
          display: inline-flex;
          padding: 14px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: 2px solid white;
          color: white;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$poppins;
          @include abs.fontConfig(16px, normal, 600, 24px);
          letter-spacing: -0.16px;
          text-decoration: none;
          margin-top: 8px;
        }

        a:hover {
          background: white;
          color: abs.$deep-blue;
        }
      }
    }

    .premium {
      background: abs.$bright-blue;

      .bottom {
        a {
          border-radius: 8px;
          display: inline-flex;
          padding: 14px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background: white;
          color: abs.$deep-blue;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$poppins;
          @include abs.fontConfig(16px, normal, 600, 24px);
          letter-spacing: -0.16px;
          text-decoration: none;
          margin-top: 8px;
        }

        a:hover {
          color: white;
          background-color: abs.$bright-blue;
          border: 2px solid white;
          border-radius: 8px;
          padding: 12.5px 22.5px;
        }
      }
    }
  }
}

.testimonial {
  display: flex;
  padding: 60px 134px 140px 135px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: inherit;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h6 {
      color: abs.$brave-yellow;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(14px, normal, 600, 14px);
      text-transform: uppercase;
      margin: 0px;
    }

    h3 {
      color: abs.$dark-blue;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$poppins;
      @include abs.fontConfig(28px, normal, 600, 45px);
      letter-spacing: -0.56px;
      margin: 0px;
    }
  }

  .testimonies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;

    .group {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .item {
        display: flex;
        padding: 20px 20px 30px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid abs.$pale-gray;
        background: white;

        .double-quote {
          width: 40px;
          height: 40px;
        }

        .text {
          color: abs.$description-dark;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$inter;
          @include abs.fontConfig(14px, normal, 500, 172%);
          margin: 0px;
        }

        .avatar {
          width: 70px;
          height: 70px;
          border-radius: 100px;
        }

        .name-and-position {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1px;

          h6 {
            align-self: stretch;
            color: abs.$dark-blue;
            text-align: center;
            font-feature-settings: "salt" on, "liga" off;
            font-family: abs.$inter;
            @include abs.fontConfig(18px, normal, 600, 172%);
            letter-spacing: -0.9px;
            margin: 0px;
          }

          p {
            align-self: stretch;
            color: abs.$description-light;
            text-align: center;
            font-feature-settings: "salt" on, "liga" off;
            font-family: abs.$inter;
            @include abs.fontConfig(14px, normal, 500, 172%);
            margin: 0px;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  width: inherit;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: abs.$dark-blue;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    gap: 25px;

    img {
      width: 170px;
      height: 25.5px;
    }

    .text {
      color: abs.$description-light;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$inter;
      @include abs.fontConfig(16px, normal, 400, 180%);
      letter-spacing: -0.8px;
      margin: 0px;
    }

    .copyright {
      color: abs.$description-light;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$inter;
      @include abs.fontConfig(14px, normal, 500, 172%);
      margin: 5px 0px 0px 0px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 150px;

    h6 {
      margin: 0px;
      color: abs.$pale-gray;
      font-feature-settings: "salt" on, "liga" off;
      font-family: abs.$inter;
      @include abs.fontConfig(18px, normal, 600, 172%);
      letter-spacing: -0.9px;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li {
        a {
          color: abs.$description-light;
          font-feature-settings: "salt" on, "liga" off;
          font-family: abs.$inter;
          @include abs.fontConfig(16px, normal, 400, 180%);
          letter-spacing: -0.8px;
          text-decoration: none;
        }

        a:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

// Tablet
@media (max-width: 992px) {
  header {
    .header-content {
      text-align: center;
      .paragraph1 {
        @include abs.fontConfig(18px, normal, 500, 172%);
        letter-spacing: -0.9px;
      }

      h1 {
        width: 80%;
      }
    }

    .nav-container {
      width: 85%;

      nav {
        height: 65px;

        .nav-right {
          ul {
            display: none;
          }

          .login-btn {
            display: none;
          }

          .menu-btn {
            display: block;
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  .trusted {
    .trusted-icons {
      width: 90%;
      .dudeperfect,
      .pewdiepie {
        width: 40px;
        height: 40px;
      }

      .mr-beast {
        width: 62.741px;
        height: 44px;
      }

      .wb {
        width: 40px;
        height: 49.6px;
      }

      .netflix {
        width: 80px;
        height: 21.277px;
      }

      .pixar {
        width: 90px;
        height: 17.252px;
      }

      .picky-picks {
        width: 41.481px;
        height: 41.481px;
      }
    }
  }

  .best-sounds {
    width: 90%;

    .text {
      h3 {
        font-size: 24px;
      }
    }

    .list {
      .filter {
        .categories {
          ul {
            gap: 18px;
            li {
              a {
                @include abs.fontConfig(14px, normal, 500, 138%);
                letter-spacing: -0.7px;
              }
            }
          }
        }

        .button {
          width: 96px;
          padding: 2px 14px 2px 20px;
          gap: 16px;

          p {
            @include abs.fontConfig(14px, normal, 500, 138%);
            letter-spacing: -0.7px;
          }

          img {
            width: 36px;
            height: 36px;
          }
        }
      }

      .list-items {
        .item-container {
          .item {
            .name-time-container {
              .name {
                @include abs.fontConfig(14px, normal, 500, 138%);
                letter-spacing: -0.7px;
              }
            }

            .categories {
              @include abs.fontConfig(14px, normal, 500, 138%);
              letter-spacing: -0.7px;
            }

            .description {
              display: none;
            }
          }
        }
      }
    }
  }

  .category {
    h2 {
      @include abs.fontConfig(24px, normal, 600, 160%);
      letter-spacing: -0.48px;
    }

    .list {
      .items {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }
  }

  .why-us {
    flex-direction: column;
    gap: 41px;

    .text {
      width: 100%;
      display: flex;
      justify-content: center;

      h4,
      h2 {
        margin: 0px auto;
        width: 100%;
        text-align: center;
      }

      h2 {
        @include abs.fontConfig(24px, normal, 600, 160%);
        letter-spacing: -0.48px;
      }
    }

    .reasons {
      width: 100%;
      justify-content: space-between;
      gap: 110px;

      .vertical {
        .reason {
          width: inherit;
        }
      }
    }
  }

  .pricing {
    h1 {
      @include abs.fontConfig(28px, normal, 600, 45px);
      letter-spacing: -0.56px;
    }

    .plans {
      .plan {
        .top {
          h2 {
            @include abs.fontConfig(24px, normal, 600, 160%);
            letter-spacing: -0.48px;
          }

          p {
            @include abs.fontConfig(16px, normal, 500, 138%);
            letter-spacing: -0.8px;
          }
        }

        .bottom {
          .price {
            @include abs.fontConfig(18px, normal, 600, 172%);
            letter-spacing: -0.9px;
          }

          a {
            padding: 10px 20px;
          }
        }
      }

      .premium {
        .bottom {
          a:hover {
            padding: 8.4px 18.4px;
          }
        }
      }
    }
  }

  .testimonial {
    .title {
      text-align: center;
    }

    .testimonies {
      .group {
        .item-3 {
          display: none;
        }
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: repeat(3, auto);

    .info {
      width: 259px;
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 40px;

      img {
        width: 142px;
        height: 21px;
      }

      p {
        @include abs.fontConfig(14px, normal, 400, 172%);
        letter-spacing: -0.7px;
      }
    }

    nav {
      h6 {
        @include abs.fontConfig(16px, normal, 600, 138%);
      }

      ul {
        li {
          a {
            @include abs.fontConfig(14px, normal, 400, 172%);
            letter-spacing: -0.7px;
          }
        }
      }
    }
  }

  footer:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  footer:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  footer:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

// Phone
@media (max-width: 600px) {
  header {
    .nav-container {
      nav {
        .nav-right {
          .menu-btn {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .header-content {
      h1 {
        width: 95%;
        @include abs.fontConfig(20px, normal, 600, 30px);
        letter-spacing: -0.4px;
      }

      .paragraph1 {
        width: 95%;
        @include abs.fontConfig(16px, normal, 600, 138%);
      }

      .search-bar {
        width: 95%;
        input {
          width: calc(100% - 50px);
          height: 44px;
        }

        img {
          top: 14px;
        }
      }

      .paragraph2 {
        width: 95%;
      }

      .hint {
        width: 90%;
      }
    }
  }

  .trusted {
    padding-bottom: 100px;

    .text {
      p {
        @include abs.fontConfig(18px, normal, 600, 172%);
        letter-spacing: -0.9px;
      }
    }

    .trusted-icons {
      position: relative;

      .netflix,
      .pixar,
      .picky-picks {
        position: absolute;
      }

      .netflix {
        bottom: -56px;
        left: 0;
      }

      .pixar {
        bottom: -56px;
        left: calc(50% - 25px);
      }

      .picky-picks {
        bottom: -60px;
        right: 0;
      }
    }
  }

  .best-sounds {
    width: auto;
    margin: 50px 16px;
    .list {
      .filter {
        .categories {
          ul {
            li:nth-child(4),
            li:nth-child(5),
            li:nth-child(6) {
              display: none;
            }
          }
        }
        .button {
          padding: 0px;
          margin: 0px;
          width: 36px;
          height: 36px;

          p {
            display: none;
          }
        }
      }

      .list-items {
        .item-container {
          .item {
            gap: 5%;
            .name-time-container {
              width: 60%;
            }

            .categories {
              display: none;
            }

            .btn-group {
              .heart,
              .more {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .category {
    width: auto;
    margin: 60px 16px;

    h2 {
      @include abs.fontConfig(20px, normal, 600, 30px);
      letter-spacing: -0.4px;
    }

    .list {
      .items {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        a {
          height: 70px;
          @include abs.fontConfig(16px, normal, 600, 138%);
        }
      }
    }
  }

  .why-us {
    width: auto;
    padding: 60px 16px 100px 16px;

    .text {
      h2 {
        @include abs.fontConfig(24px, normal, 600, 160%);
        letter-spacing: -0.48px;
      }
    }

    .reasons {
      flex-direction: column;

      .vertical {
        width: 90%;
        align-self: center;

        .reason {
          margin: 0 auto;

          .text {
            h5 {
              @include abs.fontConfig(16px, normal, 600, 138%);
            }
          }
        }
      }
    }
  }

  .pricing {
    h1 {
      width: 90%;
      @include abs.fontConfig(24px, normal, 700, 160%);
      letter-spacing: -0.48px;
      text-align: center;
    }

    p {
      @include abs.fontConfig(16px, normal, 500, 180%);
    }

    .plans {
      flex-direction: column;

      .plan {
        max-width: 95%;

        .top {
          h2 {
            @include abs.fontConfig(20px, normal, 600, 30px);
            letter-spacing: -0.4px;
          }
        }
      }
    }
  }

  .testimonial {
    padding: 60px 0 140px 0;

    .title {
      h3 {
        width: 85%;
        @include abs.fontConfig(20px, normal, 600, 30px);
        letter-spacing: -0.4px;
      }
    }

    .testimonies {
      .group {
        .item-1 {
          display: none;
        }
      }
    }
  }

  footer {
    padding: 50px 5%;
    grid-template-columns: repeat(2, auto);
    row-gap: 16px;

    .info {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  footer:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  footer:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  footer:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
