$regular_black_color: #000;
$primary_yellow_color: #f7b702;
$primary_red_color: #ee4346;
$second_red_color: #f7402e;
$primary_btn_color: #0074fc;
$first_btn_color: #0082f0;
$second_btn_color: #3b66ff;
$third_btn_color: #4fc553;
$fourth_btn_color: #f4b52b;
$dark_btn_color: #1b1b1b;
$dark_blue_color: #090909;
$primary_white_color: #fff;
$primary_link_color: #2d89ff;
$second_link_color: #2a66ff;
$drop_shadow: 0px 2px 5px #00000026;
$background_color: #f2f8ff;
$primary_border_sigin_color: #909090;
$background_sky_color: rgb(56, 189, 248);
